* {
    padding: 0;
    margin: 0;


    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root.dark {
    --text01: rgb(105, 106, 110);
    --text02: rgb(182, 182, 182);

    --BG01: #0d1117;
    --BG02: #000000;
    --BG03: #292931;

    --fontSize1: clamp(12px, 2vw, 17px);
    --fontSize2: clamp(12px, 2vw, 20px);
    --fontSize3: clamp(12px, 2vw, 13px);
    --fontSize4: clamp(12px, 1.5vw, 17px);

    --lightBorder: #25282c;
    --darkBorder: rgb(31, 31, 31);

    --green: rgb(0, 182, 0);
    --dimGreen: rgb(0, 85, 0);
}

body {
    background-color: var(--BG02);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

#content {

    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    max-width: 1700px;
    height: 100vh;
    
}

#mainContent {

    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 19fr;   
}

#sidebar {
    background-color: var(--BG02);
    border-right: 1.5px solid var(--lightBorder);

    display: grid;
    grid-template-rows: 2fr 5fr 3fr 8fr;
    gap: 30px;

    border-left: 1.5px solid var(--lightBorder);
}

#sidebar * {
    color: var(--text01);
}

#stats {
    background-color: var(--BG02);
    display: grid;
    grid-template-rows: 1fr 5fr;
    gap: 20px;
}

#stats > p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fontSize2);

}

#stats div {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

#stats div p {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    font-size: var(--fontSize3);
    border: 1.5px solid var(--dimGreen);
    border-radius: 10px;
    margin: 0px 10px;
}

#collapseDiv {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 20px;

    color: var(--green);
    opacity: 70%;
}

#sidebar div img {
    height: 35px;
}

@media only screen and (max-width: 940px) {
    #sidebar {
        display: none;
    }

    #content {
        grid-template-columns: 1fr;
    }
}


#headerTop {
    grid-column: 1 / 3;
    font-size: var(--fontSize1);
    background-color: var(--BG01);
    display: grid;
    grid-template-columns: 5fr 5fr repeat(3, minmax(30px, 0.5fr));
    gap: 10px;
    align-items: center;
    height: 100%;
    color: var(--text01);
    height: 100%;
}

#headerTop div {
    padding: 5px 10px;
}

#headerTop img {
    height: 30px;
}

input {
    background-color: var(--BG02);
    border: none;
    border-radius: 100px;
    padding: 5px 10px;
    width: 100%;
    min-width: 70px;

    color: var(--text01);
}


#middle {
    background-color: var(--BG01);
    display: flex;
    flex-direction: column;
    padding: 15px;

    gap: 20px;

    border-top: 2px solid var(--BG02);
}

#middle section:first-child {
    color: var(--text01);
    display: grid;
    grid-template-rows: 1fr 0.5fr;
}

#cip {
    font-size: 20px;
    display: flex;
    align-items: center;
}


#middleBlock {
    position: relative;
    color: var(--text01);
    background-color: var(--BG01);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-rows: repeat(3, 2fr) 1fr;
    gap: 10px;
    border: 1.5px solid var(--green);
    max-height: 200px;
    cursor: pointer;
    overflow: hidden;
    --opacity: 0%;
}

#middleBlock div:not(:first-child) {
    z-index: 10;
}

#cover {
    position: absolute;

    background-image: linear-gradient(rgb(0, 39, 19), var(--BG01));
    background-image: url(./images/juywa9bg.bmp);


    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: var(--opacity);

    transition: opacity 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#middleBlock:hover {
    --opacity: 30%;
}

#middleProgress {
    position: relative;

    display: grid;
    grid-template-columns: 10fr 1fr;
    align-items: center;
}

#middleProgress div:first-child {
    background-color: var(--green);
    height: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#middleProgress div:last-child {
    background-color: var(--BG02);
    height: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#course {
    font-size: clamp(20px, 3vw, 40px);
    color: var(--text02);
}

#middle section:last-child {
    background-color: var(--BG01);
}

#rightSide {
    background-color: var(--BG02);

    border-left: 1.5px solid var(--lightBorder);
    border-right: 1.5px solid var(--lightBorder);
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 3fr;
    color: var(--text01);
    padding: 0px 10px;
}

#rightTitle {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 17px;
    border-bottom: 1.5px solid var(--darkBorder);
}

#projectsRS p:first-child {
    border: none;
}

#projectsRS {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 10px 0px;
    text-align: center;
    gap: 10px;
    align-items: center;
    max-height: 200px;
}

#projectsRS p {
    border: 1.5px solid var(--dimGreen);
    border-radius: 10px;
    padding: 7px 10px;
}

#lastRS {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

#lastRS div:first-child {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lastRS div:last-child {
    border: 1.5px solid var(--darkBorder);
    border-radius: 10px;

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;

    max-height: 300px;
    padding: 10px;
}

#lastRS div:last-child p {
    border: 1.5px solid var(--dimGreen);
    border-radius: 10px;
    text-align: center;
    padding: 7px 10px;
}



#tileContainer {
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-top: 1.5px solid var(--darkBorder);
    gap: 10px;

    color: var(--text01);
}

#tileContainer > div {
    background-color: var(--BG02);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-rows: 5fr 1fr 1fr 1fr;
}

#TP01, #TP02, #TP03, #TP04, #TP05, #TP06 {
    position: relative;
    border-radius: 10px;
    display: grid;
    height: 3px;
    align-items: center;
    opacity: 50%;
}


#TP02 {
    grid-template-columns: 1fr 6fr;
}
#TP03 {
    grid-template-columns: 2fr 1fr;
} 
#TP04 {
    grid-template-columns: 5fr 1fr;
}
#TP05 {
    grid-template-columns: 1fr 99fr;
}
#TP06 {
    grid-template-columns: 3fr 2fr;
}

#TP02 div:first-child,
#TP03 div:first-child,
#TP04 div:first-child,
#TP05 div:first-child,
#TP06 div:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--green);
    height: 100%;
}

#TP01 div:last-child {
    background-color: var(--green);
    border-radius: 10px;
    height: 100%;
}


#TP02 div:last-child,
#TP03 div:last-child,
#TP04 div:last-child,
#TP05 div:last-child,
#TP06 div:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--BG01);
    height: 100%;
}

#tile {
    cursor: pointer;
    transition: height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 200px;
    border: none;
}

#tile:hover {
    box-shadow: 0 0 10px black;
    height: 300px;
    border: 1.5px solid rgb(0, 101, 29);
}

#tileImage {
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 4.5px;
}

#tileImage img {
    height: auto;
    width: 100%;
}


#completedModules {
    display: grid;
    grid-template-rows: 1fr 2fr;
    border: 1.5px solid var(--lightBorder);
    margin: 0px 10px;
    border-radius: 10px;
}

#completedModules p:first-child {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: var(--fontSize4);
    margin: 0px 10px;
}

#completedModules div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#completedModules div div {
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--green);
    opacity: 70%;
    font-size: var(--fontSize4);
    border: 1.5px solid var(--dimGreen);
    padding: 7px 10px;
    border-radius: 10px;
    margin: 0px 10px;
}

#futureModules {
    text-align: center;
    border: 1.5px solid var(--lightBorder);
    margin: 0px 10px;
    border-radius: 10px;
    max-height: 300px;
}

#futureModules > p {
    font-size: var(--fontSize4);
    padding: 20px;
}

#futureModulesTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

#futureModules div p {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1.5px solid var(--lightBorder);
    padding: 10px;
    margin: 0px 10px;
}

#actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

#actions div:nth-child(1), 
#actions div:nth-child(2), 
#actions div:nth-child(3), 
#actions div:nth-child(4), 
#actions div:nth-child(5) {
    height: 5px;
    width: 5px;
    border-radius: 5px;
}

#actions div:nth-child(1) {
    background-color: rgb(0, 24, 0);
}
#actions div:nth-child(2) {
    background-color: rgb(5, 45, 0);
}
#actions div:nth-child(3) {
    background-color: rgb(0, 71, 2);
}
#actions div:nth-child(4) {
    background-color: rgb(1, 83, 0);
}
#actions div:nth-child(5) {
    background-color: rgb(26, 120, 0);
}





@media only screen and (max-width: 940px) {
    #mainContent {
        grid-template-columns: 3fr 1fr;
    }

}

@media only screen and (max-width: 600px) {
    #mainContent {
        grid-template-columns: 1fr;
    }

    #rightSide {
        display: none;
    }

}

@media only screen and (max-width: 870px) {
    #mainContent {
        grid-template-rows: 1fr 30fr;
    }

}