* {
    padding: 0;
    margin: 0;


    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root.dark {
    --text01: rgb(105, 106, 110);
    --text02: rgb(182, 182, 182);

    --BG01: #0d1117;
    --BG02: #000000;
    --BG03: #292931;

    --fontSize1: clamp(12px, 2vw, 17px);
    --fontSize2: clamp(12px, 2vw, 20px);
    --fontSize3: clamp(12px, 2vw, 13px);

    --lightBorder: #25282c;
    --darkBorder: rgb(31, 31, 31);

    --green: rgb(0, 182, 0);
}

body {
    background-color: var(--BG02);

    display: flex;
    justify-content: center;
}

#content {

    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    max-width: 1700px;
    height: 100vh;
    
}

#mainContent {

    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 10fr;    
}

#sidebar {
    background-color: var(--BG02);
    border-right: 1.5px solid var(--lightBorder);

    display: grid;
    grid-template-rows: 2fr repeat(3, 8fr);
    gap: 1px;

    border-left: 1.5px solid var(--lightBorder);
}

#sidebar * {
    color: var(--text01);
}

#stats {
    background-color: var(--BG02);

    display: grid;
    grid-template-rows: 1fr 5fr;
}

#stats > p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fontSize2);

}

#stats div {
    display: grid;
    grid-template-rows: repeat(5, 1fr);


}

#stats div p {
    display: flex;
    align-items: center;
    background-color: var(--BG02);
    padding: 7px 10px;
    font-size: var(--fontSize3);
    border-bottom: 1.5px solid var(--lightBorder);
}

#stats div p:last-child {
    border: none;
}

#collapseDiv {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 20px;

    color: var(--green);
    opacity: 70%;
}

#sidebar div img {
    height: 35px;
}

@media only screen and (max-width: 940px) {
    #sidebar {
        display: none;
    }

    #content {
        grid-template-columns: 1fr;
    }
}



header {
    grid-column: 1 / 3;
    color: var(--text01);
    display: grid;
    grid-template-rows: 2fr 1fr;
    
    gap: 5px;
}

header section:first-child {
    background-color: var(--BG01);
    display: grid;
    grid-template-columns: 5fr 5fr repeat(3, minmax(30px, 0.5fr));
    gap: 10px;

    align-items: center;
}



header section:first-child div:nth-child(1) {
    font-size: var(--fontSize1);
} 

#headerTop div {
    padding: 0 10px 0 10px;
}

#headerTop img {
    height: 30px;
}

input {
    background-color: var(--BG02);
    border: none;
    border-radius: 100px;
    padding: 5px 10px;
    width: 100%;
    min-width: 70px;
}

header section:last-child {
    background-color: var(--BG02);
}


#middle {
    background-color: var(--BG01);
    display: flex;
    flex-direction: column;
    padding: 15px;

    gap: 20px;
}

#middle section:first-child {
    color: var(--text01);
    display: grid;
    grid-template-rows: 1fr 0.5fr;
}

#cip {
    font-size: 20px;
    display: flex;
    align-items: center;
}


#middleBlock {
    color: var(--text01);
    background-color: var(--BG01);
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-template-rows: repeat(3, 2fr) 1fr;
    gap: 10px;
    border: 1.5px solid var(--green);
    max-height: 200px;
}

#middleProgress {
    position: relative;

    display: grid;
    grid-template-columns: 10fr 1fr;
    align-items: center;
}

#middleProgress div:first-child {
    background-color: var(--green);
    height: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#middleProgress div:last-child {
    background-color: var(--BG02);
    height: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#course {
    font-size: clamp(20px, 3vw, 40px);
    color: var(--text02);
}

#middle section:last-child {
    background-color: var(--BG01);
}

#rightSide {
    background-color: var(--BG01);

    border-left: 1.5px solid var(--lightBorder);
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
}

#tileContainer {
    padding: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-top: 1.5px solid var(--darkBorder);
    gap: 10px;
}

#tileContainer div {
    background-color: var(--BG02);
    border-radius: 10px;

    display: grid;
    grid-template-rows: 5fr 1fr 1fr;
}

@media only screen and (max-width: 940px) {
    #rightSide {
        display: none;
    }

    #mainContent {
        grid-template-columns: 1fr;
    }

}